---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Backlinks from "@/components/Backlinks.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const notes = await getCollection("notes");
  return notes.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const currentUrl = `/notes/${entry.slug}`;
---

<BaseLayout title={entry.data.title}>
  <div class="column is-7-widescreen is-10-desktop is-10-tablet is-12-mobile">
    <div class="note-page-section">
      <div>
        <a onclick="window.history.back();">
          <h5 class="meta-title">← BACK</h5>
        </a>
      </div>
      <h1>{entry.data.title}</h1>
      <div class="content">
        <Content />
      </div>
      <Backlinks title={entry.data.title} currentUrl={currentUrl} />
    </div>
  </div>
</BaseLayout>
